<section id="node_data" class="section l1">
	<h1>Node <a href="/node/<%= root %>/<%= depth %>" class="as_num">#<%= root %></a></h1>
	<div class="content with_subs">
		<div class="padded_content">
			<p class="name">Nazwa: <span class="as_name"><%= root_name %></span></p>
		</div>

		<section id="node_data_conns" class="section l2">
			<h1>Połączenia 
				(<span class="count"><%= connections_count.total %> &ndash;
					B:<%= connections_count.both %>,
					U:<%= connections_count.up %>,
					D:<%= connections_count.down %></span>)</h1>
			<div class="content scroll">
				<table class="std">
					<thead>
						<tr>
							<th>B/U/D</th>
							<th>Do</th>
							<th>Stan</th>
						</tr>
					</thead>
					<tbody>
						<% connections.forEach(function (conn) { %>
							<tr class="<%= conn.status === 0 ? 'ok' : 'bad' %> <%= conn.dir %>">
								<td class="as_dir_<%= conn.dir %>"><%= conn.dir %></td>
								<td>
									<a href="/node/<%= conn.with %>/<%= depth %>" class="as_num">
										#<%= conn.with %>
									</a>
								</td>
								<td
									class="as_conn_<%= conn.status === 0 ? 'ok' : 'bad' %>"
									title="<%= connection_statuses[conn.status] %>">
									<%= conn.status === 0 ? 'ok' : 'bad' %>
								</td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</section>

		<section id="node_data_pools" class="section l2">
			<h1>Pule adresów (<span class="count"><%= root_pools.length %></span>)</h1>
			<div class="content scroll">
				<table class="std">
					<thead>
						<tr>
							<th>IP</th>
							<th>Maska</th>
						</tr>
					</thead>
					<tbody>
						<% root_pools.forEach(function (pool) { %>
							<tr>
								<td><span class="aspool_net"><%= pool.ip %></span></td>
								<td><span class="aspool_mask"><%= pool.mask %></span></td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</section>

